.button {
display: block;
margin-bottom: 15px;
margin-left: 10px;
width: 150px;
height: 40px;
cursor: pointer;
background-color: white;
color: red;
font-size: 15px;
text-transform: uppercase;
border-radius: 5px;
border: 1px solid red;
}

.container {
    padding-top: 10px;
    background-color: antiquewhite;
}

.movieInfo {
    padding-bottom: 15px;
    border-bottom-style: double;
    border-color: red;
    font-weight: 200;
    line-height: 1.5;
}

.cardImage {
    margin-left: auto;
    margin-right: auto;
}

.score {
    font-weight: bold;
}

.movieDetails {
    padding: 20px;
}

.mainTitle {
    text-align: center;

}

.title {
    margin-top: 0;
    font-weight: 500;
}

.addInfoWrapper {
    padding: 10px;
}

.additionalInfo {
    margin-top: 0;
    font-weight: 500;
    font-size: 20px;
}

.cardList {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

.cardLink {
    text-decoration: none;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 50px;
}

 .active {
        text-decoration: none;
        font-size: 15px;
        text-transform: uppercase;
        color: red;
}

.cardListItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    border: 1px solid red;
    text-align: center;
}

.cardListItem:first-child {
    margin-bottom: 10px;
}

/* Tablet and desctop styles */

@media screen and (min-width: 768px) {
    .container {
        padding: 15px;
    }

    .button {
        margin-left: 0;
    }

    .movieInfo {
        display: flex;
        justify-content: center;
    }

    .mainTitle {
        text-align: start;
    }

    .addInfoWrapper {
        padding: 0;
}
}
